* { 
    margin: 0;
    padding: 0;
}

.body {
  height: 100vh;
  grid-template-rows: 15vh 85vh;
  display: grid;
  font-size: 20px;
}

.header { 
    width: 100vw;
    background-color: rgb(199, 199, 199);
}

.main {
    width: 100vw;
    background-color: white;
}

.post {
    display: grid;
    grid-template-columns: 20vw 80vw;
    margin: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1px black solid;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

.link {
    border: 1px black solid;
}