* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-size: 20px;
}

.header { 
    height: 15vh;
    width: 100vw;
    background-color: rgb(199, 199, 199);
}

.main {
    height: 85vh;
    width: 100vw;
    background-color: white;
}

.post {
    display: grid;
    grid-template-columns: 20vw 80vw;
    margin: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1px black solid;
    padding: 20px;
    background-color: rgb(219, 219, 219);
}

.link {
    border: 1px black solid;
}